@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shrikhand/v6/a8IbNovtLWfR7T7bMJwrGIKR8Ttcte1q.woff2) format("woff2");
  unicode-range: U+0964-0965, U+0A80-0AFF, U+200C-200D, U+20B9, U+25CC, U+A830-A839;
}
/* latin-ext */
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shrikhand/v6/a8IbNovtLWfR7T7bMJwrDYKR8Ttcte1q.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shrikhand/v6/a8IbNovtLWfR7T7bMJwrA4KR8TtctQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.footer__bloc {
  display: inline;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}

.footer__bloc .logo {
  font-family: "Shrikhand";
  color: white;
  font-size: 20px;
  padding: 15px 0;
}

.footer__bloc-links {
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: auto;
}

.footer__bloc-link {
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}

.footer__bloc-link:hover .footer__bloc-link__title {
  text-decoration: underline;
}

.footer__bloc-link i {
  margin-right: 7px;
}

.footer__bloc-link__title {
  font-size: 16px;
  font-weight: 400;
}

.footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__bloc {
  display: inline;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}
.footer__bloc .logo {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 20px;
  padding: 15px 0;
}
.footer__bloc-links {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
.footer__bloc-link {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}
.footer__bloc-link:hover .footer__bloc-link__title {
  text-decoration: underline;
}
.footer__bloc-link i {
  margin-right: 7px;
}
.footer__bloc-link__title {
  font-size: 16px;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f6f6f6;
}

* a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* a {
  text-decoration: none;
  color: white;
}

.restaurants {
  margin: 0;
  background: #f6f6f6;
  padding: 20px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.restaurant__cards {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
}
.restaurant__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  border-radius: 20px;
  transform: scale(1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.restaurant__card-new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #99e2d0;
  top: 20px;
  right: 20px;
}
.restaurant__card-new p {
  color: #1b6150;
  padding: 10px 20px;
  margin: 0;
}
.restaurant__card:hover {
  transition: 0.5s;
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
}
.restaurant__card-image {
  width: 100%;
  height: 190px;
}
.restaurant__card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant__block {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 0 0 20px 20px;
}
.restaurant__block-info {
  color: black;
  margin-left: 20px;
}
.restaurant__block-info > :first-child {
  font-weight: 700;
}
.restaurant__block-hearth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 30px;
}
.restaurant__block .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.restaurant__block .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
.restaurant__block .heart-empty {
  width: 50px;
  position: relative;
}
.restaurant__block .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}

.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}
.header__logo {
  font-family: "Shrikhand";
  margin: 0;
  color: black;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  color: #7a7a7a;
}
.location__city {
  margin-left: 13px;
  font-weight: 400;
}

header {
  z-index: 10;
  background: white;
  width: 100%;
}
header .header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}
header .header__arrow-back {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 35px;
  top: 40%;
  font-size: 20px;
}
header .header__arrow-back a {
  color: #000;
}
header .header__logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
}
header .header__logo a {
  color: #000;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f6f6f6;
}

* a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* a {
  text-decoration: none;
  color: white;
}

.process__contain {
  padding: 25px 0;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
}

.process {
  width: 95%;
  max-width: 1200px;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.process__title {
  margin: 0;
}
.process__step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 10px 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.process__step:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background: white;
}
.process__number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.process__icon {
  color: #7E7E7E;
  margin: 0 20px;
}
.process__steps {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero {
  background: #fafafa;
  width: 100%;
}
.hero__container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.hero__title {
  text-align: center;
  max-width: 250px;
  margin: 0;
}
.hero__text {
  text-align: center;
}
.hero__button {
  opacity: 1;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.hero__button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

#menu {
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-top: -200px;
  padding: 0 20px;
  width: 100%;
  max-width: 1230px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
}
.menu__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__header__title {
  font-family: "Shrikhand", cursive;
}
.menu__header__heart .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.menu__header__heart .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
.menu__header__heart .heart-empty {
  position: relative;
}
.menu__header__heart .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}
.menu__grid {
  display: grid;
  grid-gap: 40px;
}
.menu__grid__bloc {
  display: grid;
  grid-gap: 15px;
}
.menu__grid__title h3 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
}
.menu__grid__title h3::after {
  content: "";
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
.menu__grid__case {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.menu__grid__case:hover .validation__box {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-left 0.5s ease;
  transform-origin: right;
}
.menu__grid__case:hover .menu__case__price {
  padding-right: 70px;
  transition: 0.5s ease;
}
.menu__grid__case .validation__box {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 13px;
  height: 100%;
}
.menu__grid__case .validation__box i {
  font-size: 30px;
  color: white;
  transform: rotate(180deg);
  animation: rotate 0.5s both;
}
.menu__case__dish {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__case__dish p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__case__dish-title {
  font-weight: bold;
}
.menu__case__price {
  padding-right: 20px;
  font-weight: bold;
  padding-left: 7px;
}
.menu__contain-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu__button {
  opacity: 1;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  margin: 50px 0;
  font-size: 18px;
}
.menu__button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.dish-and-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-50px);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.appears-with-opacity {
  animation: opacity 1s both;
}

#case-1 {
  animation-delay: 0.1s;
}

#case-2 {
  animation-delay: 0.2s;
}

#case-3 {
  animation-delay: 0.3s;
}

#case-4 {
  animation-delay: 0.4s;
}

#case-5 {
  animation-delay: 0.5s;
}

#case-6 {
  animation-delay: 0.6s;
}

#case-7 {
  animation-delay: 0.7s;
}

#case-8 {
  animation-delay: 0.8s;
}

#case-9 {
  animation-delay: 0.9s;
}

#menu {
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-top: -200px;
  padding: 0 20px;
  width: 100%;
  max-width: 1230px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
}
.menu__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__header__title {
  font-family: "Shrikhand", cursive;
}
.menu__header__heart .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.menu__header__heart .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
.menu__header__heart .heart-empty {
  position: relative;
}
.menu__header__heart .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}
.menu__grid {
  display: grid;
  grid-gap: 40px;
}
.menu__grid__bloc {
  display: grid;
  grid-gap: 15px;
}
.menu__grid__title h3 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
}
.menu__grid__title h3::after {
  content: "";
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
.menu__grid__case {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.menu__grid__case:hover .validation__box {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-left 0.5s ease;
  transform-origin: right;
}
.menu__grid__case:hover .menu__case__price {
  padding-right: 70px;
  transition: 0.5s ease;
}
.menu__grid__case .validation__box {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 13px;
  height: 100%;
}
.menu__grid__case .validation__box i {
  font-size: 30px;
  color: white;
  transform: rotate(180deg);
  animation: rotate 0.5s both;
}
.menu__case__dish {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__case__dish p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__case__dish-title {
  font-weight: bold;
}
.menu__case__price {
  padding-right: 20px;
  font-weight: bold;
  padding-left: 7px;
}
.menu__contain-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu__button {
  opacity: 1;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  margin: 50px 0;
  font-size: 18px;
}
.menu__button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.img {
  width: 100%;
  height: 50vh;
}
.img__image {
  margin-top: -80px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spinner {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header, footer, main {
  display: none;
}

/*# sourceMappingURL=style.css.map */
